{include file="public/header" /}
<section class="container">
  <div class="content-wrap">
<div class="content">
      <div class="banner banner-contenttop">
    <div style="margin:10px 10px 10px 20px;">
      <div class="yiz-slider-2">
          <ul>
              <li><img src="/static/index/images/1.jpg" /></li>
              <li><img src="/static/index/images/2.jpg" /></li>
              <li><img src="/static/index/images/3.jpg" /></li>
              <li><img src="/static/index/images/4.jpg" /></li>
          </ul>
      </div>
    </div>
  </div>
<div class="sticky">
    <h2 class="title">推读</h2>
    <ul>
      {foreach name="isvouch" item="v"}
      <li class="item"><a href="{:url('index/Article/show',array('id'=>$v['id']))}"  target="_blank"><img src="/uploads/{$v['img']}" alt="{$v['title']}" />
      <h3>{$v['title']}</h3>
      <p class="muted">
        {$v['note']}
      </p>
      </a>
      </li>
      {/foreach}
    </ul>
    </div>
    <h2 class="title">最新发布</h2>
    {foreach name="ishome" item="v"}
    <article class="excerpt">
      <div class="focus">
        <a href="{:url('index/Article/show',array('id'=>$v['id']))}" class="thumbnail" target="_blank">
          <img src="/uploads/{$v['img']}" alt="{$v['title']}" />
        </a>
      </div>
      <header>
      <h2>
        <a href="{:url('index/Article/show',array('id'=>$v['id']))}" title="{$v['title']}" target="_blank">
          {$v['title']}
        </a>
      </h2>
      </header>
      <p class="note">{$v['note']}</p>
      <p>
        <span class="muted"><i class="fa fa-user"></i> {$v['authour']}</span>
        <span class="muted"><i class="fa fa-clock-o"></i> {:date('Y-m-d',$v['addtime'])}</span>
        <span class="muted"><i class="fa fa-eye"></i> {$v['views']} 浏览</span>
      </p>
    </article>
    {/foreach}
  </div>
</div>

{include file="public/right" /}

</section>



<div class="IndexLinkListWrap">
  <div class="moketitle" style="font-size: 15px;">友情链接</div>
  <ul class="friendlyLink">
      {foreach name="links" item="v"}
       <a href="{$v['url']}" target='_blank'>{$v['title']}</a> <span> | </span>
      {/foreach}

  </ul>
</div>
{include file="public/footer" /}