{include file="public/header" /}
<section class="container">
  <div class="content-wrap">
    <div class="content">
      <header class="article-header">
        <h1 class="article-title"><a href="#">{$data['title']}</a></h1>
        <div class="meta"> <span class="muted"><a href=""><i class="icon-list-alt icon12"></i>{$cdata[$data['cid']]['name']}</a></span> <span class="muted"><i class="icon-user icon12"></i> <a href="#">{$data['authour']}</a></span>
          <time class="muted"><i class="ico icon-time icon12"></i> {$data['addtime']}</time>
          <span class="muted"><i class="ico icon-eye-open icon12"></i> {$data['views']} 浏览</span> </div>
      </header>
      <div class="banner banner-post">
        <div style="margin:10px 0px 10px 0px;"> <a href='#'><img src="/static/index/picture/ad1.jpg" /></a> </div>
      </div>
      <article class="article-content">
        <blockquote>
          <p><strong>小编：</strong>{$data['s_title']}</p>
        </blockquote>
        {$data['content']}
        <!--fav-->

        <!--fav end-->

        &nbsp;

        <!--related-->
        <div class="related-post">
          <h6>你可能喜欢的：</h6>
          <dl class="fix">
            <div id='tag741ea220ff5887504d724069fe0ee1bf'>
              <dd>
                <a href="/tutorials/web/5.html" title="3大速成法则帮你轻松搞">
                <img src="/static/index/picture/1-151013121sb51.jpg" alt="3大速成法则帮你轻松搞" />
                <span>3大速成法则帮你轻松搞</span>
                </a>
              </dd>
              <dd>
                <a href="/tutorials/web/4.html" title="2015网页导航设计趋势">
                <img src="/static/index/picture/1-151013121j31j.jpg" alt="2015网页导航设计趋势" />
                <span>2015网页导航设计趋势</span>
                </a>
              </dd>
              <dd>
                <a href="/tutorials/web/6.html" title="有点意思的导航！">
                <img src="/static/index/picture/1-151013121920434.jpg" alt="有点意思的导航！" />
                <span>有点意思的导航！</span>
                </a>
              </dd>
              <dd>
                <a href="/tutorials/web/7.html" title="这10个错误让你的网页">
                <img src="/static/index/picture/1-151013122029325.jpg" alt="这10个错误让你的网页" />
                <span>这10个错误让你的网页</span>
                </a>
              </dd>
              <dd>
                <a href="/tutorials/web/7.html" title="这10个错误让你的网页">
                <img src="/static/index/picture/1-151013122029325.jpg" alt="这10个错误让你的网页" />
                <span>这10个错误让你的网页</span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
        <!--related:end-->

      </article>

      <!-- <nav class="article-nav">
      <span class="article-nav-prev">上一篇：<a href='/tutorials/web/5.html'>3大速成法则帮你轻松搞定极简主义网站！</a> </span>
      <span class="article-nav-next">下一篇：<a href='/tutorials/web/7.html'>这10个错误让你的网页显得不专业</a> </span>
      </nav> -->

      <!--comment-->

      <!--comment:end-->

    </div>
  </div>
{include file="public/right" /}
</section>

{include file="public/footer" /}