<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>
    <link rel="stylesheet" href="/static/xiaoqiu/css/pintuer.css">
    <link rel="stylesheet" href="/static/xiaoqiu/css/admin.css">
<link rel="stylesheet" href="/static/vendor/layui//css/layui.css">
    <script src="/static/xiaoqiu/js/jquery.js"></script>
    <script src="/static/xiaoqiu/js/pintuer.js"></script>
<script src="/static/vendor/layui/layui.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 网站信息</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
      <div class="form-group">
        <div class="label">
          <label>网站标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="stitle" value="{$data['stitle']}" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站LOGO：</label>
        </div>
        <div class="field">
          <input type="text" id="inp" name="logo" value="{$data['logo']}" class="input w50" />
          <input type="file" name="file" class="layui-upload-file" style="float:left;">
          <br />
          <br />
          <img id="img" src="{$data['logo']?'/uploads/'.$data['logo']:'/static/images/thumbview.gif'}" style="width:150px; height:auto;" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站域名：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="surl" value="{$data['surl']}" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站关键字：</label>
        </div>
        <div class="field">
          <textarea class="input" name="skeywords" style="height:80px">{$data['skeywords']}</textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站描述：</label>
        </div>
        <div class="field">
          <textarea class="input" name="sdescription">{$data['sdescription']}</textarea>
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>底部信息：</label>
        </div>
        <div class="field">
          <textarea name="scopyright" class="input" style="height:120px;">{$data['scopyright']}</textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <input type="hidden" name="id" value="{$data['id']}" />
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
<script>
  layui.use('upload', function(){
    layui.upload({
      url: '{:url('Article/upload')}' //上传接口
      ,success: function(res){ //上传成功后的回调
        console.log(res)
        $('#inp').val(res);
        $('#img').attr('src', '/uploads/' + res);
      }
    });

    layui.upload({
      url: '/test/upload.json'
      ,elem: '#test' //指定原始元素，默认直接查找class="layui-upload-file"
      ,method: 'get' //上传接口的http类型
      ,success: function(res){
        LAY_demo_upload.src = res.url;
      }
    });
  });
</script>
</html>