<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/static/xiaoqiu/css/pintuer.css">
<link rel="stylesheet" href="/static/xiaoqiu/css/admin.css">
<script src="/static/xiaoqiu/js/jquery.js"></script>
<script src="/static/xiaoqiu/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong></div>
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>
      <th width="15%">分类名称</th>
      <th width="15%">上一级分类</th>
      <th width="10%">状态</th>
      <th width="10%">排序</th>
      <th width="10%">操作</th>
    </tr>
    {foreach name="ncDataT" item="v"}
    <tr>
      <td>{$v['id']}</td>
      <td align='left'>{:str_repeat('&nbsp;', $v['level']*4)}{$v['news_name']}</td>
      <td>{$v['pid']?$ncData[ $v['pid'] ]['news_name']:''}</td>
      <td>{$v['show_in_nav']?'是':'否'}</td>
      <td>{$v['sort_order']}</td>
      <td><div class="button-group"> <a class="button border-main" href="{:url('NewsClass/edit',array('id'=>$v['id']))}"><span class="icon-edit"></span> 修改</a> <a class="button border-red" href="{:url('NewsClass/del',array('id'=>$v['id']))}" onclick="return confirm('您确定要删除吗?')"><span class="icon-trash-o"></span> 删除</a> </div></td>
    </tr>
    {/foreach}
  </table>
</div>
</body>
</html>